// Colors

$primary-black: #444444;
$primary-white: #ffffff;
$secondary-gray: #7a7a7a;
$secondary-light-gray: #c1c1c1;

// Fonts

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'RF Dewi Expanded';

// Font Sizes

$h1-size: 48px;
$h2-size: 32px;
$h3-size: 24px;
$h4-size: 20px;
$h5-size: 18px;
$h6-size: 16px;

$subtitle-size-big: 18px;
$subtitle-size-small: 14px;

$body-size-big: 18px;
$body-size-medium: 16px;
$body-size-small: 14px;
$body-size-tiny: 12px;

// Font Weights

$font-weight-light: 400;
$font-weight-medium: 600;

// line-height

$title-lh-big: 110%;
$title-lh-small: 120%;
$subtitle-lh: 140%;
$body-lh: 150%;

// Breakpoints

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;


